.tracing-helper {
    height: 200px;
    overflow-y: auto;
}

.full-width {
    width: 100%;
    padding: 10px;
}

.checkbox {
    margin: 0px 6px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 
.list-item {
    padding-bottom: 10px !important;
}