<div class="gamefield" *ngIf="currLevel">
  <div class="left-column">
    <div class="codesnippet-container">
      <app-code-snippet class="code" [code]="currLevel.codeSnippet"></app-code-snippet>
    </div>

    <div class="tracing-helper-container">
      <app-tracing-helper  id="tracingHelper" class="tracing-helper" [level]="currLevel"></app-tracing-helper>
    </div>
  </div>


  <div class="gamefield-container">
    <app-character-grid  (selected)="handleCharSelection($event)" [characters]="currLevel.characters"></app-character-grid>
  </div>
</div>