<h1 mat-dialog-title>{{ settings.showTutorial ? 'Tutorial complete' : 'You won'}}</h1>
<div mat-dialog-content>
    <div class="container">
        <div class="message">
            {{ settings.showTutorial ? 'You can start a full game from the main menu.' : 'Congratulations you won the game!' }}
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="action-wrapper">
        <button *ngIf="!settings.showTutorial" (click)="playAgain()" mat-button cdkFocusInitial>Play Again</button>
        <button (click)="backToMain()" mat-button cdkFocusInitial>Back to main menu</button>
    </div>
</div>