/** customize the code highlight, hide the language and copy button **/
::ng-deep .code-toolbar>.toolbar {
  display: none !important;
}

::ng-deep .code-line .language-javascript {
  border-top: none !important;
  padding: 2px !important;
  margin: 0px !important;
}

::ng-deep  .mobile-gamefield .language-javascript {
  font-size: xx-small;
  height: 100% !important;
  width: 360px !important;
}

::ng-deep .gamefield .language-javascript {
  font-size: x-small;
  height: 100% !important;
  width: 360px !important;
}

/** parchment code adapted from https://codepen.io/dayna/pen/pEpoGV **/
.post {
  background: #FCF5E5;
  margin: 4px;
  border-radius: 5px;
}

.post-border {
  height: 20px;
  // border: 1px solid #ccccb3;
  border-radius: 5px;

  &.post-header {
    box-shadow: inset 0 8px 20px -8px #696868,
      inset 0 -8px 20px -8px #696868,
      0px 10px 20px -8px #696868;
    margin-bottom: 16px;
  }

  &.post-footer {
    box-shadow: inset 0 8px 20px -8px #696868,
      inset 0 -8px 20px -8px #696868,
      0px -10px 20px -8px #696868,
      0px 10px 20px -8px #696868;
  }
}

.post-center {
  padding: 4px;
}

::ng-deep .code-toolbar pre {
  border-top: none !important;
}

::ng-deep .code-toolbar pre[class*=language-] {
  background: none !important;
}

::ng-deep .code-toolbar pre .token[class*=token] {
  background: none !important;
}